<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <div class="scrbbl-embed" data-src="/livescoreboard/4389" data-livescoreboard-thread="2447540" data-livescoreboard-league="NCAAFB" data-livescoreboard-conference="Pac-12" data-livescoreboard-gameDate="2016-12-31" data-livescoreboard-team="WAS"></div>
      <script>(function(d, s, id) {var js,ijs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//embed.scribblelive.com/widgets/embed.js";ijs.parentNode.insertBefore(js, ijs);}(document, 'script', 'scrbbl-js'));</script></a></h1>
      <a href="http://www.seattletimes.com/sports/uw-huskies/" target="_parent" class="page-link">
      FOLLOW LIVE &#187;
      </a>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
