<!doctype html>
<html>
  <head>
    <%= t.include("partials/_head.html") %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <div class="scrbbl-embed" data-src="/livescoreboard/5569" data-livescoreboard-thread="2635233" data-livescoreboard-league="MLB" data-livescoreboard-conference="" data-livescoreboard-gameDate="2017-07-31" data-livescoreboard-team="43a39081-52b4-4f93-ad29-da7f329ea960"></div>
<script>(function(d, s, id) {var js,ijs=d.getElementsByTagName(s)[0];if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="//embed.scribblelive.com/widgets/embed.js";ijs.parentNode.insertBefore(js, ijs);}(document, 'script', 'scrbbl-js'));</script>
<a href="http://www.seattletimes.com/sports/mariners/mariners-vs-rangers-live-updates-as-king-felix-takes-the-hill-in-texas/" target="_parent" class="page-link">

      FULL COVERAGE &#187;
      </a>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
